node_modules/
dist/
.env
.env.localnet
.env.production
evm/out/
evm/cache/
evm/lib/
evm/broadcast/
evm-deployment.json
deployment.json
intent-deployment.json
circuits/intent/target/

pxe_data_*
wallet_data_*
